.contact{
    background-color: rgb(18, 28, 63);
}
/* Styling for the disabled button state */
button:disabled {
  background-color: #6c757d !important;
  cursor: not-allowed;
  opacity: 0.7;
}

/* Spinner animation */
.spinner-border {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}
.btn-light-custom{
    background-color: #fff;
    border: none;
    color: black;
    transition: all 0.3s ease;
}
.btn-light-custom:hover{
  background-color: #0084b4;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 172, 238, 0.2);
}
