<section id="about" class="py-5 overflow-hidden" @aboutAnimation>
 

  <div class="container py-5">
     <div class=" about-title-wrapper mb-4 reveal-text">
          <h2 class="text-primary display-4 fw-bold mb-0 text-center">ABOUT</h2>
              <div class="header-line mx-auto mb-5"></div>
</div>
    <div class="row align-items-center">
      <div class="d-flex flex-column flex-lg-row align-items-center gap-5">
       
        <div class="col-lg-5 about-illustration text-center">
        <img src="assets/images/about.jpg" alt="Developer Illustration" class="img-fluid">
      </div>

      <div class="col-lg-7 ps-lg-5">
        

        <p class=" description-text reveal-text">
          I am <strong>Zohaib Hassan</strong>, a Front End Developer. Experienced in modular architecture, reactive state management, and performance
focused UI development. I have a strong passion for crafting seamless user experiences and writing clean, maintainable code. I am always eager to learn new technologies and stay updated with industry trends. I am a team player who thrives in collaborative environments and enjoys tackling complex problems to create innovative solutions.
          <br><br>
          "Looking for an opportunity as a junior Front End Developer (Angular),so that i can utilize my skills to build frontend UI for websites given my clients."
        </p>

        <div class="mt-4 reveal-text">
          <a href="assets/Zohaib-CV.pdf" class="btn btn-primary-custom px-5 py-3 rounded-pill fw-bold shadow-sm">
            View Resume
          </a>
        </div>
      </div>


        </div>
      </div>
      

    </div>
  
</section>