<nav class="navbar navbar-expand-lg navbar-dark sticky-top shadow-sm py-3">
  <div class="container">
    <a class="navbar-brand fw-bold tracking-tight" href="#">PORTFOLIO</a>

    <button 
      class="navbar-toggler border-0" 
      type="button" 
      data-bs-toggle="offcanvas" 
      data-bs-target="#offcanvasNavbar" 
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ms-auto gap-lg-4">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#projects">Projects</a>
        <a class="nav-link" href="#skills">Skills</a>
        <a class="nav-link" href="#experience">Experience</a>
        <a class="nav-link" href="#about">About</a>
        <a class="nav-link" href="#contact">Contact</a>
      </div>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header border-bottom border-secondary">
    <h5 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel">PORTFOLIO</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-4">
      <a class="nav-link fs-5" href="#" >Home</a>
      <a class="nav-link fs-5" href="#projects" >Projects</a>
      <a class="nav-link fs-5" href="#skills" >Skills</a>
      <a class="nav-link fs-5" href="#experience" >Experience</a>
      <a class="nav-link fs-5" href="#about" >About</a>
      <a class="nav-link fs-5" href="#contact" >Contact</a>
    </div>
  </div>
</div>