<section id="hero" class="about-section d-flex align-items-center" @pageLoad>
  <div class="container">
    <div class="row align-items-center">
      
      <div class="col-lg-7 order-2 order-lg-1 text-sm-center text-lg-start">
        <span class="badge rounded-pill bg-info-custom mb-3 reveal-item">Hello! I am</span>
        <h1 class="display-3 fw-bold mb-1 reveal-item">ZOHAIB HASSAN</h1>
        <p class="lead text-primary mb-4 reveal-item">
          {{ typedText() }}<span class="cursor">|</span>
        </p>
        
        <div class="d-flex gap-3 mb-5 justify-content-center justify-content-lg-start reveal-item">
          <a href="https://www.linkedin.com/in/muhammad-zohaib-hassan-88559b361" class="social-icon"><i class="bi bi-linkedin"></i></a>
          <a href="https://github.com/zohaib42335/" class="social-icon"><i class="bi bi-github"></i></a>         
          <a href="mailto:zohaib423356@gmail.com" class="social-icon"><i class="bi bi-envelope-fill"></i></a>
        </div>

        
      </div>

      <div class="col-lg-5 d-flex justify-content-center order-1 order-lg-2 mb-5 mb-lg-0" @imageReveal>
        <div class="main-ring">
          <div class="profile-ring-outer">
          <div class="profile-ring-inner">
            <img src="assets/images/profile.jpg" alt="Profile" class="profile-img shadow">
          </div>
        </div>
        </div>
        
      </div>

    </div>
    <div class="scroll-indicator d-none d-lg-block text-center mt-5">
         <a href="#projects"> <i class="bi bi-chevron-down"></i></a>
        </div>
  </div>
</section>